@import url("https://fonts.googleapis.com/css2?family=Jaldi&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
/* NORMALIZED STYLES */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #ead9e1;
  background: repeating-linear-gradient(-45deg, rgba(222, 165, 192, 0.65), rgba(222, 165, 192, 0.65) 5px, #ead9e1 5px, #ead9e1 25px); }

a:link {
  text-decoration: none; }

a {
  color: black; }

ul {
  list-style: none; }

/* ANIMATIONS */
@keyframes rightSpin {
  0% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

/* HEADER STYLES */
.header {
  background-color: #4D3B5B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem;
  line-height: normal; }
  .header__logo {
    width: 66.6%;
    font-family: "Times New Roman"; }
    .header__logo img {
      max-width: 200px; }
  .header__nav {
    font-family: "Montserrat";
    width: 33.3%; }
    .header__nav ul {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.4em;
      padding-left: 0rem;
      margin-bottom: 0rem; }
      .header__nav ul li a {
        color: white;
        border-bottom: 2px solid #4D3B5B;
        transition: all .4s; }
        .header__nav ul li a:hover {
          color: #EAD9E1;
          border-bottom-color: #EAD9E1; }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  .header {
    padding: 1rem; }
    .header__logo {
      width: 40%; }
      .header__logo img {
        width: 100px; }
    .header__nav {
      width: 40%; }
      .header__nav ul {
        font-size: .8em; } }

/* RESPONSIVE MOBILE VERTICAL */
@media screen and (max-width: 479px) {
  .header__nav {
    width: 60%; } }

/* FOOTER STYLES */
footer {
  display: flex;
  justify-content: space-between;
  padding: 5rem 5rem 2rem;
  background: rgba(12, 12, 12, 0.5); }
  footer .footer__contact {
    width: 50%;
    font-size: 1.8em;
    color: black;
    font-family: "Jaldi";
    line-height: normal; }
    footer .footer__contact h2 {
      font-size: 1em;
      margin: 0;
      font-weight: bold; }
    footer .footer__contact p {
      margin: 0; }
    footer .footer__contact a img {
      width: 4rem; }
  footer .upArrow {
    width: 10rem;
    animation-name: rightSpin;
    animation-duration: 6s;
    animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
    animation-iteration-count: infinite; }
    footer .upArrow a img {
      width: 100%; }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  footer {
    font-size: .8em;
    padding: 2rem 2rem 1rem; }
    footer .footer__contact {
      font-size: 1.4em; }
      footer .footer__contact h2 {
        font-size: 1em; }
      footer .footer__contact a img {
        width: 1.8rem; }
    footer .upArrow {
      width: 6rem; } }

/* INDEX STYLES */
.home {
  margin: 10rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
  justify-content: flex-start;
  align-items: stretch; }
  .home__text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: flex-start;
    align-items: stretch;
    margin: 0rem 15rem 0rem 15rem;
    padding: 5rem;
    background-color: #8f2d56;
    border-radius: 2rem;
    font-size: 2em; }
    .home__text h1 {
      font-family: "Roboto Flex";
      text-align: center;
      text-decoration-line: underline;
      margin: 0;
      font-weight: 700;
      color: black;
      line-height: normal; }
    .home__text p {
      font-family: "Roboto Flex";
      text-align: center;
      color: #0e0e0e;
      line-height: normal;
      margin: 0; }
  .home .tips {
    display: flex;
    flex-direction: column;
    gap: 12rem;
    justify-content: flex-start;
    align-items: stretch; }
    .home .tips__title {
      font-family: "Yeseva One";
      text-align: center;
      text-decoration-line: underline;
      font-size: 5em;
      margin: 0;
      font-weight: 700;
      line-height: normal;
      color: black; }
    .home .tips__articles {
      display: flex;
      flex-direction: row;
      gap: normal;
      justify-content: space-around;
      align-items: center;
      font-size: 2.7em;
      background-color: rgba(77, 59, 91, 0.7);
      border-radius: 2rem; }
    .home .tips__text, .home .tips__text--right {
      width: 50%;
      text-align: left;
      font-family: "Roboto Flex";
      padding: 2rem;
      margin: 0;
      line-height: normal; }
      .home .tips__text--right {
        text-align: right; }
    .home .tips__img {
      width: 35%;
      padding: 2rem; }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  main {
    font-size: .5em; }
  .home {
    gap: 7rem;
    margin: 5rem 3rem; }
    .home__text {
      gap: 1.5rem;
      margin: 0rem 4rem;
      padding: 2rem;
      border-radius: 1rem;
      font-size: 2em; }
    .home .tips {
      gap: 6rem; }
      .home .tips__title {
        font-size: 3.4em; }
      .home .tips__articles {
        border-radius: 1rem; } }

/* RESPONSIVE MOBILE VERTICAL */
@media screen and (max-width: 479px) {
  .home {
    margin: 3rem 2rem;
    gap: 8.5rem; }
    .home__text {
      gap: 1.5rem;
      margin: 0rem 0rem;
      padding: 1.5rem; }
    .home .tips {
      gap: 4rem; }
      .home .tips__articles {
        flex-direction: column;
        font-size: 2em;
        gap: 0rem; }
      .home .tips__text, .home .tips__text--right {
        width: 100%;
        padding: 2rem;
        text-align: center; }
        .home .tips__text--right {
          width: 100%;
          padding: 2rem;
          text-align: center; }
      .home .tips__img {
        width: 50%;
        padding: 1rem; } }

/* CONTACT STYLES */
.contact__header {
  background-color: #8f2d56;
  height: 20rem;
  margin: 8rem 0;
  color: white;
  transition: all 0.4s; }
  .contact__header:hover {
    height: 23rem; }
  .contact__header p {
    margin-bottom: 0rem; }
  .contact__header h1 {
    margin-bottom: 0rem; }

/* RESPONSIVE MOBILE VERTICAL */
@media screen and (max-width: 479px) {
  /* CONTACT */
  .contact__header {
    height: 10rem;
    margin: 4rem 0; } }

/* GALLERY STYLES */
.gallery {
  margin: 10rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem; }
  .gallery__title {
    text-align: center;
    font-family: "Yeseva One";
    text-decoration-line: underline;
    font-size: 4em;
    margin: 0;
    color: black; }
  .gallery__container {
    background-color: rgba(143, 45, 86, 0.7);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0rem 10rem;
    padding: 4rem;
    gap: 4rem;
    border-radius: 3rem; }
  .gallery__image {
    border-radius: .4rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(37, 37, 37, 0.5);
    padding: .6rem;
    transition: all 0.6s; }
    .gallery__image:hover {
      transform: scale(1.1); }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  /* GALLERY */
  .gallery {
    margin: 5rem 3rem;
    gap: 1rem; }
    .gallery__title {
      font-size: 3.5em; }
    .gallery__container {
      grid-template-columns: repeat(2, 1fr);
      margin: 0rem 2rem;
      padding: 2rem;
      gap: 2rem;
      border-radius: 1rem; } }

/* RESPONSIVE MOBILE VERTICAL */
@media screen and (max-width: 479px) {
  /* GALLERY */
  .gallery {
    margin: 3rem 2rem; }
    .gallery__title {
      font-size: 3.5em; }
    .gallery__container {
      grid-template-columns: repeat(1, 1fr);
      padding: 3rem;
      gap: 3rem;
      border-radius: .75rem; } }

/* PRODUCTS STYLES */
main.products section div {
  display: flex;
  flex-direction: row;
  gap: normal;
  justify-content: center;
  align-items: center; }
  main.products section div article.products__articles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2rem;
    margin: 7rem;
    border-radius: 1rem;
    background-color: #8f2d56; }
    main.products section div article.products__articles img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: .4rem; }
    main.products section div article.products__articles h2 {
      align-self: flex-start;
      font-family: "Roboto Flex";
      font-weight: bold; }
    main.products section div article.products__articles p {
      height: 10rem;
      font-size: 1.4em;
      justify-self: center;
      font-family: "Roboto Flex"; }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  main.products section div {
    flex-direction: column; }
    main.products section div article.products__articles {
      margin: 2rem;
      width: 70%; }
      main.products section div article.products__articles p {
        height: 5rem; } }

/* SERVICES STYLES */
.services {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: space-evenly;
  align-items: stretch;
  margin: 100px 0px 100px; }
  .services div {
    display: flex;
    flex-direction: row;
    gap: 14rem;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%; }
  .services__articles {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 35%;
    padding: 2.2rem;
    background-color: #8f2d56;
    border-radius: 1.4rem; }
    .services__articles img {
      width: 100%;
      border-radius: 0.7rem; }
    .services__articles p {
      width: 100%;
      font-family: "Roboto Flex";
      font-size: 1.6em; }
    .services__articles h2 {
      font-family: "Roboto Flex";
      font-weight: bold; }

/* RESPONSIVE MOBILE HORIZONTAL */
@media screen and (max-width: 599px) {
  .services {
    margin: 50px 0px 50px; }
    .services div {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      justify-content: center;
      align-items: center; }
    .services__articles {
      width: 80%; } }
