// MIXINS

@mixin flex ($direction, $gap, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
    justify-content: $justify-content;
    align-items: $align-items;
}